


<div *ngIf="product; else loading">
  <h1>{{ product.productTitle }}</h1>
  <img [src]="'http://localhost:3000/assets/images/' + selectedImage" alt="{{ product.productTitle }}">
  <p>Price: {{ product.productPrice }} DH</p>
  <p>Description: {{ product.description }}</p>

  <div>
    <h3>Images</h3>
    <img *ngFor="let img of product.imageUrl"
         [src]="'http://localhost:3000/assets/images/' + img"
         (click)="selectImage(img)"
         [class.selected]="img === selectedImage"
         style="width: 100px; cursor: pointer; margin: 5px;">
  </div>
</div>

<ng-template #loading>
  <p>جار التحميل...</p>
</ng-template>





































<!--

<div *ngIf="product" class="luxury-product-card">
  <div class="product-header">
      <h3 class="brand-title">LORAYA</h3>
      <div class="product-id">{{product.productId}}</div>
  </div>
  
  <div class="product-content">



    
    <div class="image-gallery">
         الصورة الكبيرة 
        <div class="main-image">
          <img [src]="'http://localhost:3000/assets/images/' + selectedImage" 
               [alt]="product.productTitle" 
               class="large-image">
        </div>
      
         الصور المصغرة 
        <div class="thumbnails">
          <img *ngFor="let img of product.imageUrl"
               [src]="'http://localhost:3000/assets/images/' + img"
               [alt]="product.productTitle"
               (click)="selectImage(img)"
               class="thumbnail-image"
               [class.active]="img === selectedImage">
        </div>
      </div>



      
      <div class="product-details">
          <h1 class="product-title">{{product.productTitle}}</h1>
          
          <div class="price-box">
              <span class="price">{{product.productPrice}} DH</span>
              <span class="tax">TVA incluse</span>
          </div>
          
          <div class="specs-box">
              <div class="spec-item">
                  <i class="material-icons">inventory</i>
                  <span>Quantité disponible : {{product.quantity}}</span>
              </div>
              <div class="spec-item">
                  <i class="material-icons">local_shipping</i>
                  <span>Livraison gratuite</span>
              </div>
          </div>
          
          <p class="description">{{product.description}}</p>
          
          <button class="add-to-cart">
              <i class="material-icons">shopping_bag</i>
              Ajouter au panier
          </button>
      </div>
  </div>
</div>
-->